#rework {
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    padding: 4.5em 3em 3em 3em ;
    background: #ffffff;
    border-radius: 4px;
    cursor: default;
    max-width: 100%;
    opacity: 0.95;
    position: relative;
    text-align: center;
    width: 40em;
}
@media screen and (max-width: 480px) {

    #rework {
        padding: 4em 2em 2.5em 2em ;
        width: 100%;
    }

}

body.is-preload #rework {
    -moz-transform: rotateX(15deg);
    -webkit-transform: rotateX(15deg);
    -ms-transform: rotateX(15deg);
    transform: rotateX(15deg);
    opacity: 0;
}